!!! 5
%html
  %head
    :javascript
      var dojoConfig = { baseUrl: '', async: true, };
    %script{ :src => '//ajax.googleapis.com/ajax/libs/dojo/1.8.3/dojo/dojo.js' }
    :javascript
      require(['./script/main.js']);
  %body
    %center
      %p
        %label{ :for => 'projection' }
        %select#projection
          %option{ :value => 'SR-ORG:6864', :selected => 1 } Spherical Mercator
          %option{ :value => 'EPSG:27700' } British National Grid
          %option{ :value => 'EPSG:2163' } US National Atlas Equal Area
          %option{ :value => 'EPSG:3411' } NSIDC Sea Ice Polar Stereographic North
          %option{ :value => 'EPSG:3412' } NSIDC Sea Ice Polar Stereographic South
        %button#zoomIn +
        %button#zoomOut -
      %canvas#mapCanvas{ :style => 'position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: -1000;' }
